<div class="footer">
    <div class="footer-el">

        <div class="footer-pages">
            <h2>Chance</h2>
            <p (click)="locateTo('https://discord.gg/cNxbKfMsfr')">Discord</p>
            <p (click)="locateTo('https://discord.gg/cNxbKfMsfr')">Support</p>
            <p (click)="locateTo('https://www.instagram.com/dn8.sw')">Creator</p>
            <p>Github</p>
        </div>

        <div class="footer-pages">
            <h2>Main</h2>
            <p (click)="router.navigate(['/']); scrollTo(0,0)">Home</p>
            <p (click)="router.navigate(['/discover'])">Discover</p>
            <p (click)="router.navigate(['/business'])">Business</p>
            <p
                (click)="sessionService.session ? router.navigate(['/upload']) : loginService.enableLogin(); scrollTo(0,0)">
                Upload</p>
                <p
                (click)="sessionService.session ? router.navigate(['/chat']) : loginService.enableLogin(); scrollTo(0,0)">
                Chat</p>
        </div>

        <div class="footer-pages">
            <h2>Profile</h2>
            <p
                (click)="sessionService.session ? router.navigate(['/profile']) : loginService.enableLogin(); scrollTo(0,0)">
                View</p>
            <p
                (click)="sessionService.session ? router.navigate(['/dashboard']) : loginService.enableLogin(); scrollTo(0,0)">
                Dashboard</p>
            <p>Settings</p>
            <p (click)="locateTo('https://discord.gg/cNxbKfMsfr')">Support</p>
        </div>

        <div class="footer-pages">
            <h2>Account</h2>
            <p
                (click)="sessionService.session !? router.navigate(['/profile']) : loginService.enableLogin(); scrollTo(0,0)">
                Log in</p>
            <p
                (click)="sessionService.session !? router.navigate(['/profile']) : router.navigate(['/account']); scrollTo(0,0)">
                Register</p>
        </div>

        <div class="footer-socials">
            <img (click)="locateTo('https://www.instagram.com/dn8.sw')" src="assets/icons/instagram.png">
            <img (click)="locateTo('https://discord.gg/cNxbKfMsfr')" src="assets/icons/discord.png">
            <img src="assets/icons/github2.png">
        </div>
    </div>
</div>