<div class="footer">
    <div class="footer-el">

        <div class="footer-pages">
            <h2>Chance</h2>
            <p>Discord</p>
            <p>Support</p>
            <p>Creator</p>
            <p>Github</p>
        </div>

        <div class="footer-pages">
            <h2>Main</h2>
            <p (click)="router.navigate(['/']); scrollTo(0,0)">Home</p>
            <p (click)="router.navigate(['/discover'])">Discover</p>
            <p (click)="router.navigate(['/business'])">Business</p>
            <p
                (click)="sessionService.session ? router.navigate(['/upload']) : loginService.enableLogin(); scrollTo(0,0)">
                Upload</p>
        </div>

        <div class="footer-pages">
            <h2>Profile</h2>
            <p
                (click)="sessionService.session ? router.navigate(['/profile']) : loginService.enableLogin(); scrollTo(0,0)">
                View</p>
            <p>Settings</p>
            <p>Language</p>
            <p>Support</p>
        </div>

        <div class="footer-pages">
            <h2>Account</h2>
            <p
                (click)="sessionService.session !? router.navigate(['/profile']) : loginService.enableLogin(); scrollTo(0,0)">
                Log in</p>
            <p  (click)="sessionService.session !? router.navigate(['/profile']) : router.navigate(['/account']); scrollTo(0,0)">Register</p>
        </div>

        <div class="footer-socials">
            <img src="assets/icons/instagram.png">
            <img src="assets/icons/discord.png">
            <img src="assets/icons/github2.png">
        </div>
    </div>
</div>