$animation-duration: 0.5s;

.login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    width: 100%;
    height: 100%;
}

.thelogin {
    position: absolute;
    display: flex;
    background-color: white;
    margin: auto;
    width: 95%;
    max-width: 1200px;
    border-radius: 0.3em;
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);
}




.first-part {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.first-part img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(0.2em) brightness(0.4);
    object-fit: cover;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.first-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.first-text h2,
p {
    color: white;
}

.first-text h2 {
    margin-bottom: 0em;
    font-weight: 500;
}

.first-text p {
    font-weight: 400;
}

.first-text .sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    width: 130px;
    height: 35px;
    background-color: rgb(243, 69, 69);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.3em;
    transition: all $animation-duration ease;
    cursor: pointer;
    color: white;
}

.sign-up-btn p{
    font-weight: 400 !important;
}

.first-text button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.183);
}

.second-part {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.second-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-text h2 {
    font-weight: 500;
    font-size: 2.3rem;
}

.second-text p {
    color: black;
    font-size: 0.8rem;
}

.sign-in-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


.sign-in-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sign-in-input {
    position: relative;
    display: flex;
    align-items: center;
}

.sign-in-input mat-icon {
    position: absolute;
    left: 8px;
}

.sign-in-input input {
    width: 300px;
    height: 30px;
    padding-left: 3em;
    padding-right: 1em;
    border-radius: 0.3em;
    border: none;
    background-color: rgba(136, 136, 136, 0.183);
    outline: none;
}

.forget-password {
    cursor: pointer;
}

.second-text .sign-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    margin-top: 0.5em;
    width: 130px;
    height: 35px;
    color: white;
    background-color: transparent;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 0.3em;
    transition: all 1s ease;
    cursor: pointer;
}

.close-second {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}

@media only screen and (max-width: 1064px) {
    .thelogin {
        flex-direction: column;
    }
    .first-part {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
    }
    
    .first-part img {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(0.2em) brightness(0.4);
        object-fit: cover;
    }
    .close-second {
        color: white;
    }
    .second-part {
        padding-top: 1em;
        padding-bottom: 2em;
    }
}

@media only screen and (max-height: 733px) {
    .first-part {
        height: 250px;
    }
    .second-part {
        padding-top: 0em;
        padding-bottom: 1em;
    }
}

@media only screen and (max-height: 661px) {
    .first-part {
        height: 200px;
    }
    .second-text h2 {
        font-size: 1.3rem;
    }
    .second-text button {
        width: 100px;
        height: 30px;
    }

    .first-part button{
        width: 100px;
        height: 30px;
    }
}

@media only screen and (max-height: 523px) {
    .first-part {
        height: 150px;
    }

    .first-text h2{
        font-size: 1.3rem;
    }
    .second-text h2 {
        font-size: 1.3rem;
    }
}