<div class="login">
    <div class="thelogin" data-aos="fade-right">
        <div class="first-part">
            <img src="{{imgSrc}}">

            <div class="first-text">
                <div class="first-container">
                    <h2>Hello, Friend!</h2>
                    <p>Register your new account from here!</p>
                    <button (click)="errorSuccessService.disableError(); loginService.disableLogin()" routerLink="/account">Sign Up</button>
                </div>
            </div>

        </div>
        <div class="second-part">
            <mat-icon (click)="errorSuccessService.disableBoth(); loginService.setLogin(); blankService.disableBlank();"
                class="close-second">close</mat-icon>
            <div class="second-text">
                <h2>Sign In</h2>

                <div class="sign-in-methods">
                    <app-box-method [isIcon]="true"></app-box-method>
                    <app-box-method [isCustom]="false" src="assets/icons/github.png"></app-box-method>
                    <app-box-method src="assets/icons/google.png"></app-box-method>
                    <app-box-method src="assets/icons/linkedin.png"></app-box-method>
                    <app-box-method src="assets/icons/apple.png"></app-box-method>
                </div>

                <p>or use your email & password</p>

                <div class="sign-in-input-container">
                    <app-input-icon (getValue)="valueFromChild($event, 'email')" icon="mail" type="Email"
                        placeholder="Email"></app-input-icon>
                    <app-input-icon (getValue)="valueFromChild($event, 'password')" icon="lock_person" type="password"
                        placeholder="Password"></app-input-icon>
                </div>

                <p class="forget-password">Can't access your account?</p>

                <button (click)="loginAccountService.sendUserData()">Sign In</button>
            </div>
        </div>
    </div>
</div>