<div class="box">
    <div class="the-box">
        <mat-icon (click)="profileUserInfoService.setDisable(); blankService.disableBlank();"
            class="close-second">close</mat-icon>
        <h2>Charon</h2>

        <div class="info">
            <div [className]="info === 'following' ? 'info-box custom' : 'info-box'" (click)="info = 'following'">
                <p>Following</p>
            </div>

            <div [className]="info === 'followers' ? 'info-box custom' : 'info-box'" (click)="info = 'followers'">
                <p>Followers</p>
            </div>

            <div [className]="info === 'friends' ? 'info-box custom' : 'info-box'" (click)="info = 'friends'">
                <p>Friends</p>
            </div>
        </div>

        <div class="main">
            <div class="main-box">
                <img src="afaw">
                <div class="usernames">
                    <p>Testov</p>
                    <p class="name">nqkuv</p>
                </div>
                <button>View Profile</button>
            </div>

            <div class="main-box">
                <img src="afaw">
                <div class="usernames">
                    <p>Testov</p>
                    <p class="name">nqkuv</p>
                </div>
                <button>View Profile</button>
            </div>
        </div>


    </div>
</div>