<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>


<div class="upload">
    <div class="the-upload" data-aos="fade-down" data-aos-duration="1000">
        <div class="upload-el">
            <h2>Upload image</h2>
            <p>Post a image to your account</p>

            <div class="caption">
                <p>Caption & Hashtags</p>
                <textarea (input)="saveCaption(caption.value)" [style.height]="setHeight" spellcheck="false" autocomplete="off" #caption
                (keydown)="autoExpand(caption, $event); preventEnter($event)"></textarea>
            
            </div>


            <div class="image">
                <p>Image</p>
             
                <div [classList]="uploadService.currentUpload !== '' ? 'upload-image showcase' : 'upload-image'">
                    <img *ngIf="uploadService.currentUpload !== ''" [src]="uploadService.currentUpload">

                    <label class="file-image" [classList]="uploadService.currentUpload !== '' ? 'file-image showcase' : 'file-image'">
                        <input #image (change)="ImageUpload($event)" name="isImage" type="file" accept=".png, .jpg, .jpeg"/>
                        Custom Upload
                      </label>
                    <mat-icon>upload</mat-icon>
                </div>
            </div>

            <div class="extra">
                <p class="allow-title">Allow users to:</p>
                <div class="allow">
                    <div class="allow-box">
                        <mat-icon (click)="isComment = !isComment">{{isComment ? 'check_box' :
                            'check_box_outline_blank'}}</mat-icon>
                        <p>Comment</p>
                    </div>

                    <div class="allow-box">
                        <mat-icon (click)="isLike = !isLike">{{isLike ? 'check_box' :
                            'check_box_outline_blank'}}</mat-icon>
                        <p>Like</p>
                    </div>
                </div>
            </div>

            <div class="final-btns">
                <button class="cancel-btn" (click)="cancelUpload()">Cancel</button>
                <button class="post-btn" (click)="uploadService.upload()">Post</button>
            </div>
        </div>
    </div>
</div>