<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>


<div (click)="navBarService.disableAll()" class="upload" *ngIf="(loaderService.loaded$ | async) !== 0">
    <div class="the-upload" data-aos="fade-down" data-aos-duration="1000" 
    [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''">
        <div class="upload-el">
            <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Upload image</h2>
            <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Post a image to your account</p>

            <div class="caption">
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Caption & Hashtags</p>
                <textarea  [style.background]="settingsService.isDarkTheme ? 'black' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" (input)="saveCaption(caption.value)" [style.height]="setHeight" spellcheck="false"
                    autocomplete="off" #caption
                    (keydown)="autoExpand(caption, $event); preventEnter($event)"></textarea>

            </div>

            <div  class="image">
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Image</p>

                <div [style.background]="settingsService.isDarkTheme ? 'black' : ''" [classList]="uploadService.currentUpload !== '' ? 'upload-image showcase' : 'upload-image'">
                    <img *ngIf="uploadService.currentUpload !== ''" [src]="uploadService.currentUpload">

                    <label class="file-image"
                        [classList]="uploadService.currentUpload !== '' ? 'file-image showcase' : 'file-image'">
                        <input #image (change)="ImageUpload($event)" name="isImage" type="file"
                            accept=".png, .jpg, .jpeg" />
                        Custom Upload
                    </label>
                    <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''">upload</mat-icon>
                </div>
            </div>

            <div class="categories">
                <div [style.background]="settingsService.isDarkTheme ? 'black' : ''"  (click)="uploadService.theCategorie = categorie.title" *ngFor="let categorie of categories" class="categorie">
                    <p [style.color]="uploadService.theCategorie === categorie.title ? 'red' : settingsService.isDarkTheme ? 'white' : ''" >{{categorie.title}}</p>
                </div>


            </div>

            <div class="extra">
                <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="allow-title">Allow users to:</p>
                <div class="allow">
                    <div class="allow-box">
                        <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="isComment = !isComment">{{isComment ? 'check_box' :
                            'check_box_outline_blank'}}</mat-icon>
                        <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''">Comment</p>
                    </div>

                    <div class="allow-box">
                        <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="isLike = !isLike">{{isLike ? 'check_box' :
                            'check_box_outline_blank'}}</mat-icon>
                        <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''">Like</p>
                    </div>
                </div>
            </div>

            <div class="final-btns">
                <button [style.border]="settingsService.isDarkTheme ? 'none' : ''" [style.background]="settingsService.isDarkTheme ? 'black' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="cancel-btn" (click)="cancelUpload()">Cancel</button>
                <button [style.background]="settingsService.isDarkTheme ? 'black' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="post-btn" (click)="uploadService.upload()">Post</button>
            </div>
        </div>
    </div>
</div>