<div class="the-edit-profile">
    <div class="edit-profile">
        <mat-icon class="close-icon"
            (click)="blankService.disableBlank(); editProfileService.disableEdit();  errrSuccessService.disableBoth(); 
             changeUserInfoService.user.isNewImage = ''">close</mat-icon>
        <div class="title">
            <h2>Edit Profile</h2>
        </div>

        <div class="profile-box custom">
            <p>Profile photo</p>
            <div class="input-text2">
                <div class="profile-photo">
                    <label class="custom-file-upload">
                        <input #image (change)="ImageUpload($event)" name="isNewImage" type="file" accept=".png, .jpg, .jpeg"/>
                        Custom Upload
                      </label>

                      <img *ngIf="userInfoService.userData.profile_photo !== undefined" [src]="userInfoService.userData.profile_photo"  class="profile-logo">

                      <img *ngIf="userInfoService.userData.profile_photo === undefined" src="assets/images/un_image.jpg"  class="profile-logo">
                    <mat-icon class="edit-icon">edit</mat-icon>
                </div>
            </div>
        </div>


        <div class="profile-box">
            <div class="the-text">
                <p class="info-text">Username</p>
            </div>
            <div class="input-text">
                <input #username (input)="takeNewData(username.value, 'username')" type="text" spellcheck="false" autocomplete="off" [placeholder]="userInfoService.userData.prqkor">
                <p>Your username can be changed once every 15 days.</p>
            </div>
        </div>

        <div class="profile-box">
            <div class="the-text">
                <p class="info-text">Name</p>
            </div>
            <div class="input-text">
                <input #name  (input)="takeNewData(name.value, 'name')" type="text" spellcheck="false" autocomplete="off" [placeholder]="userInfoService.userData.name">
            </div>
        </div>

        <div class="profile-box">
            <div class="the-text">
                <p class="info-text">Bio</p>
            </div>
            <div class="input-text">
                <textarea #bio  (input)="takeNewData(bio.value, 'bio')" type="text" spellcheck="false" autocomplete="off"[placeholder]="userInfoService.userData.bio"></textarea>
            </div>
        </div>


        <div class="final">
            <div class="btns">
                <button class="cancel-btn" (click)="editProfileService.disableEdit(); errrSuccessService.disableBoth();">Cancel</button>
                <button class="save-btn" (click)="changeUserInfoService.changeUserInfo()">Save</button>
            </div>
        </div>

    </div>
</div>