<nav class="navbar">
    <div class="nav-elements">
        <div class="logo">
            <h2>Chance</h2>
        </div>

        <div class="search">
            <div class="the-search">
                <mat-icon class="search-icon">search</mat-icon>
                <input autocomplete="off" spellcheck="false" type="text" placeholder="Search...">
            </div>
        </div>

        <div class="hrefs">
            <ul class="the-hrefs">
                <a>Home</a>
                <a>Discover</a>
                <a>Business</a>
            </ul>
        </div>

        <div class="btns">
            <button (click)="loginService.setLogin()">Login</button>
        </div>
    </div>
</nav>
