.posts {
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 8em;
}


.info h2 {
    margin-bottom: 0em;
}

.info p {
    text-align: left;
}

.main {
    display: flex;
    gap: 1em;
}

.the-post-el {
    width: 1300px;
    margin: auto;
}

.image-show {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 450px;
}

.image-show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-show button {
    margin-top: 0.5em;
    width: 100%;
    text-transform: uppercase;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.more-post-info{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.more-info-box{
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.more-info-box mat-icon{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 50%;
    padding: 0.3em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}



.liked-comment{
    color: red !important
    ;
}



.main-info {
    position: relative;
    background-color: white;
    width: 500px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.profile-info {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
}

.profile-info img {
    width: 40px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-info button {
    background-color: rgb(233, 81, 81);
    border-radius: 0.2em;
    border: none;
    width: 110px;
    height: 35px;
    color: white;
    font-weight: 500;
    margin-left: auto;
    margin-right: 1.5em;
    cursor: pointer;
}

.profile-names {
    margin-left: 1em;
    cursor: pointer;
}

.profile-names h2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.profile-names p {
    margin-top: 0.3em;
    font-size: 0.9rem;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin-left: 0.5em;
    width: 400px;
}

.post-info mat-icon{
    width: auto;
    height: auto;
    padding: 0.2em;
    font-size: 1.2rem;
    cursor: pointer;
}

.post-info p {
    padding: 0.3em;
    margin-left: 1.2em;
    word-wrap: break-word;
}

.actions {
    display: flex;
    align-items: center;
    margin-left: 1.4em;
    gap: 1em;
}

.action-box {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.action-box mat-icon {
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 0.3em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    cursor: pointer;
}

.no-cursor{
    cursor: default !important;
}

.action-box p {
    font-size: 0.9rem;
}

.share-link {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 35px;
    border-radius: 0.3em;
}

.share-link p {
    width: 76%;
    margin-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.copy-link {
    font-size: 1rem;
    margin-left: auto !important;
    margin-right: 1em;
    font-weight: 500;
    cursor: pointer;
}

.show {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.103);
    gap: 4em;
}

.show-box {
    text-align: center;
    width: 180px;
    cursor: pointer;
}

.post-get {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    height: 360px;
    padding-top: 1em;
    padding-bottom: 3em;
    overflow-y: auto;
}

.post-box {
    width: 140px;
    height: 190px;
    border-radius: 0.3em;
    cursor: pointer;
}

.post-box img {
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    object-fit: cover;
}

.comments-get {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    padding-bottom: 3em;
    overflow-y: auto;
}

.comment-box {
    margin: 1em;
    display: flex;
    align-items: center;
}

.comment-info {
    padding-left: 1em;
    padding-right: 1em;
}

.comment-box h2 {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 500;
    cursor: pointer;
}

.comment-box p {
    font-size: 0.8rem;
    margin: 0;
}

.the-comment-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1em;
}

.comment-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-box mat-icon {
    width: auto;
    height: auto;
    font-size: 17px;
    cursor: pointer;
}

.comment-box img {
    width: 40px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: rgba(59, 59, 59, 0.671);
}

.post-comment {
    position: absolute;
    margin-left: 1.6em;
    bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.post-comment input {
    width: 270px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding-left: 1em;
    padding-right: 2.8em;
    border-radius: 0.3em;
    outline: transparent;
}

.post-comment button {
    background-color: rgb(233, 81, 81);
    border-radius: 0.2em;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    font-weight: 500;
    margin-right: 1.5em;
    cursor: pointer;
}

.comment-input {
    position: relative;
    display: flex;
    align-items: center;
}

.post-comment mat-icon {
    position: absolute;
    right: 0.3em;
    z-index: 1;
    cursor: pointer;
}

.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20em;
    padding-bottom: 20em;
}

.not-found button{
    background-color: white;
    border-radius: 0.3em;
    border: none;
    width: 130px;
    height: 35px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.recent-posts{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 1em;
    padding-bottom: 4em;
}

.recent-posts h2{
    text-align: center;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.recent-boxes{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 1400px;
    gap: 1em;
}

.recent-box{
    position: relative;
    background-color: white;
    width: 280px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.recent-box img {
    width: 100%;
    height: 100%;
}