<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<app-mini-loading
    *ngIf="(loaderService.loaded$ | async)  !== 0 && (loaderService.miniLoaded$ | async) === 4"></app-mini-loading>

<div class="not-found" *ngIf="getPostInfoService.notfound">
    <mat-icon class="material-symbols-outlined">warning</mat-icon>
    <p>Post was not found.</p>
    <div routerLink="/discover" class="not-found-btn">
        <mat-icon class="material-symbols-outlined search-icon">search</mat-icon>
      <p>Discover</p>
    </div>
</div>

<div class="posts"
    *ngIf="!getPostInfoService.notfound && (loaderService.loaded$ | async)  !== 0 &&  (loaderService.miniLoaded$ | async) === 100">
    <div class="the-post-el">
        <div class="main">
            <div class="image-show">
                <img loading="lazy" alt="post" #imageElement
                    [src]="globalVars.postsUrl + getPostInfoService.postInfo.image">
                <a target="_blank" [href]="globalVars.postsUrl + getPostInfoService.postInfo.image"><button
                        (click)="postsActionService.increaseDownload(postId, getPostInfoService.userInfo.id); getPostInfoService.getnfo(postId)">Download
                        image</button></a>

                <div class="more-post-info">
                    <div class="more-info-box">
                        <mat-icon class="material-symbols-outlined">download</mat-icon>
                        <p>{{getPostInfoService.postInfo.downloads}}</p>
                    </div>

                    <div class="more-info-box">
                        <mat-icon class="material-symbols-outlined">visibility</mat-icon>
                        <p>{{getPostInfoService.postInfo.views}}</p>
                    </div>
                </div>
            </div>

            <div class="main-info">
                <div class="profile-info">

                    <img loading="lazy" alt="post"
                        (click)="router.navigate(['/profiles/' + getPostInfoService.userInfo.prqkor])"
                        [src]="globalVars.compressedPhotosUrl + getPostInfoService.userInfo.profile_photo">
                    <div (click)="router.navigate(['/profiles/' + getPostInfoService.userInfo.prqkor])"
                        class="profile-names">
                        <h2>{{getPostInfoService.userInfo.prqkor}}</h2>
                        <p>{{getPostInfoService.userInfo.name}}</p>
                    </div>

                    <button (click)="userInfoService.userData.prqkor === getPostInfoService.userInfo.prqkor ? 
                    postsActionService.deletePost(postId) : router.navigate(['/profiles/' + getPostInfoService.userInfo.prqkor]);
                     viewProfileService.view(); this.userInfoService.getPublicUserData(getPostInfoService.userInfo.prqkor); 
                      this.profilesService.checkIfFollow(getPostInfoService.userInfo.prqkor)">
                        {{userInfoService.userData.prqkor === getPostInfoService.userInfo.prqkor ? 'Delete post' :
                        'View Profile'}}</button>
                </div>

                <div class="post-info">
                    <p #captiontext (blur)="onBlur()" [contentEditable]="isEditable" (keydown.enter)="onEnter($event)">
                        {{ getPostInfoService.postInfo.caption }}</p>
                    <mat-icon *ngIf="userInfoService.userData.prqkor === getPostInfoService.userInfo.prqkor"
                        class="material-symbols-outlined" (click)="startEditing()">edit</mat-icon>
                </div>

                <div class="actions">
                    <div class="action-box">
                        <mat-icon [style.color]="getPostInfoService.isPostLiked ? 
                        'red' : ''"
                            (click)="sessionService.session ? postsActionService.likePost(postId, getPostInfoService.userInfo.id, postId) : loginService.enableLogin()"
                            class="material-symbols-outlined">favorite</mat-icon>
                        <p>{{getPostInfoService.postInfo.likes}}</p>
                    </div>

                    <div class="action-box">
                        <mat-icon class="material-symbols-outlined no-cursor">chat</mat-icon>
                        <p>{{getPostInfoService.postInfo.comments}}</p>
                    </div>

                    <div class="action-box">
                        <mat-icon [style.color]="getPostInfoService.isFavorited ? 'yellow' : ''"
                            (click)="sessionService.session ? postsActionService.favoritedPost(postId, getPostInfoService.userInfo.id, postId) : loginService.enableLogin()"
                            class="material-symbols-outlined">star</mat-icon>
                        <p>{{getPostInfoService.postInfo.favorites}}</p>
                    </div>
                </div>

                <div class="share-link">
                    <p>{{shareLink}}</p>
                    <h3 (click)="copyLink()" class="copy-link">Copy link</h3>
                </div>

                <div class="show">
                    <div (click)="isComments = true" class="show-box"
                        [style.borderBottom]="isComments ? '1px solid' : ''">
                        <p>Comments</p>
                    </div>

                    <div (click)="isComments = false" class="show-box"
                        [style.borderBottom]="!isComments ? '1px solid' : ''">
                        <p>User posts</p>
                    </div>
                </div>

                <div class="post-get" *ngIf="!isComments">
                    <div (click)="router.navigate(['/posts/' + post.id]); getPostInfoService.getnfo(post.id); this.postsActionService.increaseView(post.id)"
                        *ngFor="let post of getPostInfoService.posts" class="post-box">
                        <img loading="lazy" alt="post" [src]="globalVars.compressedPostsUrl + post.image">
                    </div>

                </div>

                <div class="comments-get" *ngIf="isComments">
                    <div *ngFor="let comment of getPostInfoService.postComments" class="comment-box">
                        <img loading="lazy" alt="post" (click)="router.navigate(['/profiles/' + comment.prqkor])"
                            [src]="globalVars.compressedPhotosUrl + comment.profile_photo">
                        <div class="comment-info">
                            <h2 (click)="router.navigate(['/profiles/' + comment.prqkor])">{{comment.prqkor}}</h2>
                            <p class="comment-string">{{comment.comment}}</p>
                            <div class="comment-actions">
                                <p>{{comment.timestamp}}</p>
                                <div class="comment-action"
                                    *ngIf="userInfoService.userData.prqkor === getPostInfoService.userInfo.prqkor">
                                    <mat-icon (click)="postsActionService.deleteCommentsAll(comment.id, postId)"
                                        class="material-symbols-outlined">
                                        delete
                                    </mat-icon>
                                </div>

                                <div class="comment-action"
                                    *ngIf="userInfoService.userData.prqkor !== getPostInfoService.userInfo.prqkor && userInfoService.userData.prqkor === comment.prqkor">
                                    <mat-icon (click)="postsActionService.deleteOwnComment(comment.id, postId)"
                                        class="material-symbols-outlined">
                                        delete
                                    </mat-icon>
                                </div>
                            </div>

                        </div>

                        <div class="the-comment-actions">
                            <div class="comment-action">
                                <mat-icon
                                    (click)="sessionService.session === false ? loginService.enableLogin() : postsActionService.likeComment(comment.id, postId, comment.poster_id)"
                                    class="material-symbols-outlined"
                                    [ngClass]="{'liked-comment': this.getPostInfoService.likedComments.includes(comment.id)}">
                                    favorite
                                </mat-icon>
                                <p>{{comment.likes}}</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="post-comment">
                    <div class="comment-input">
                        <input #comment (input)="getComment(comment.value)"
                            (keyup.enter)="sessionService.session === false ? loginService.enableLogin() :  clearInput(comment); postsActionService.postComment(postId, getPostInfoService.userInfo.id);"
                            autocomplete="off" spellcheck="false" placeholder="Write comment..">
                        <mat-icon class="material-symbols-outlined">sentiment_satisfied</mat-icon>
                    </div>

                    <button
                        (click)="sessionService.session ? postsActionService.postComment(postId,getPostInfoService.userInfo.id) : loginService.enableLogin()">Post</button>
                </div>
            </div>
        </div>
    </div>

    <div class="recent-posts" *ngIf="getPostInfoService.releatedPosts.length > 1">
        <h2>Related Posts</h2>
        <div class="recent-boxes">
            <ng-container *ngFor="let post of getPostInfoService.releatedPosts">
                <ng-container *ngIf="getPostInfoService.postInfo.id !== post.id">
                    <div (click)="router.navigate(['/posts/' + post.id]); getPostInfoService.getnfo(post.id); this.postsActionService.increaseView(post.id); scrollTop()"
                        class="recent-box">
                        <img loading="lazy" alt="post" [src]="globalVars.compressedPostsUrl + post.image">
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="recent-posts">
        <h2>Recent Posts By Our Community</h2>
        <div class="recent-boxes">
            <ng-container *ngFor="let post of getPostInfoService.recentPosts">
                <ng-container *ngIf="getPostInfoService.postInfo.id !== post.id">
                    <div (click)="router.navigate(['/posts/' + post.id]); getPostInfoService.getnfo(post.id); this.postsActionService.increaseView(post.id); scrollTop()"
                        class="recent-box">
                        <img loading="lazy" alt="post" [src]="globalVars.compressedPostsUrl + post.image">
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>

</div>