.posts{
    display: block;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 20em;
}


.info h2{
    margin-bottom: 0em;
}

.info p{
    text-align: left;
}

.main{
    display: flex;
    gap: 1em;
}

.the-post-el{
    width: 1300px;
    margin: auto;
}

.image-show{
    width: 800px;
    height: 400px;
}

.image-show img{
   width: 100%;
   height: 100%;
}

.main-info{
    width: 500px;
    height: 650px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

