.error{
    position: absolute;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: red;
    animation: shake 0.3s forwards;
    z-index: 2;
}

.error p{
    color: white;
}

.error mat-icon{
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }
  