
<app-loading *ngIf="(loadingService.loaded$ | async) === 0"></app-loading>
<app-blank *ngIf="blankService.isBlank"></app-blank>

<div *ngIf="(loginService.isLogin$ | async) === true">
    <app-login></app-login>
</div>


<app-error *ngIf="errorSuccessService.isError"></app-error>
<app-success *ngIf="errorSuccessService.isSuccess"></app-success>
<app-settings *ngIf="(settingsService.isSettings$ | async) === true"></app-settings>
<app-navbar></app-navbar>


   



<router-outlet *ngIf="(mobileService.isMenuToggled$ | async) === false && (loginService.isLogin$ | async) === false"></router-outlet>
<app-footer *ngIf="(mobileService.isMenuToggled$ | async) === false &&
(loginService.isLogin$ | async) === false &&
 chatService.isChatEnabled === false"></app-footer>