<div *ngIf="navBarService.isNotification" class="notificationbox">

    <h2>Notifications</h2>

    <div class="categories">
        
        <div class="categoriebox">
            <p>All activity</p>
        </div>

        <div class="categoriebox">
            <p>Friends</p>
        </div>

        <div class="categoriebox">
            <p>Likes</p>
        </div>

        <div class="categoriebox">
            <p>Followers</p>
        </div>

        <div class="categoriebox">
            <p>Chat</p>
        </div>

        <div class="categoriebox">
            <p>History</p>
        </div>
    </div>
</div>