<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<ng-container *ngIf="(loaderService.loaded$ | async) !== 0">
    <div (click)="navBarService.disableAll()">
        <div class="main">
            <div data-aos="fade-right" data-aos-duration="1000" class="main-first">
                <h1 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Discover,collect<br>and upload <span
                        class="main-emojie">🖼️</span></h1>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Discover the most outstanding images in
                    all topics of life.<br>Upload your own ART and build your
                    profile!
                </p>
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="main-first-btn"
                    routerLink="/discover" (click)="scrollTo(0,0)">
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Start exploring</p>
                    <mat-icon class="material-symbols-outlined">
                        search
                    </mat-icon>
                </div>
            </div>
            <div class="main-second" data-aos="fade-left" data-aos-duration="1000">
                <img alt="example" loading="lazy" src="assets/images/home.jpg">
            </div>
        </div>

        <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="home-box" data-aos="fade-up"
            data-aos-duration="1000">
            <div class="box">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined">download </mat-icon>

                <div class="box-info">
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t1">Search ART</p>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t2">You can download
                    </p>
                </div>
            </div>
            <div class="box">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined">upload</mat-icon>

                <div class="box-info">
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t1">Upload ART</p>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t2">You can upload</p>
                </div>
            </div>
            <div class="box">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined">build</mat-icon>

                <div class="box-info">
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t1">Build & Grow</p>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t2">Build your profile
                    </p>
                </div>
            </div>
            <div class="box">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined">chat</mat-icon>

                <div class="box-info">
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t1">Chat & Explore</p>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="box-info-t2">Discuss with
                        others</p>
                </div>
            </div>
        </div>


        <div class="third" data-aos="fade-down" data-aos-duration="1200">
            <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Chat with other artists</h2>
            <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Discover additional users on our platform and
                initiate conversations with them.</p>
            <img loading="lazy" alt="chat" src="assets/images/chat_show.png">
        </div>

        <div class="create-box" data-aos="fade-right" data-aos-duration="1200">
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="the-create-box">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="material-symbols-outlined">
                    person_add
                </mat-icon>
                <div>
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Take the first step by setting up
                        your account!</h2>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Explore, gather, and upload your
                        artwork.</p>
                </div>
                <div class="create-box-sign-up" [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    [style.backgroundColor]="settingsService.isDarkTheme ? 'black' : ''"
                    [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    (click)="sessionService.session ? router.navigate(['/profile']) : router.navigate(['/account'])">
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        class="material-symbols-outlined custom55">
                        token
                    </mat-icon>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Sign Up</p>
                </div>
            </div>
        </div>

        <div class="fourth" data-aos="fade-down" data-aos-duration="1200">
            <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">A New World of Art</h2>
            <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Immerse yourself in discovering the diverse
                and captivating artistic expressions created by people from
                various
                backgrounds and cultures.</p>
            <div class="fourth-icons">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-1">search</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-2">forum</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-3">phone_iphone</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-4">build</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-3">settings</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-2">share</mat-icon>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    class="material-symbols-outlined fourth-cs-1">save</mat-icon>
            </div>

            <div class="bus-btn" [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="router.navigate(['/discover']); scrollTo(0,0)">
                <mat-icon class="material-symbols-outlined">explore</mat-icon>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Discover</p>
            </div>

        </div>


        <div class="fifth">
            <div class="fifth-boxes">
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="fade-right" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined">settings</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Everything is customizable</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">We endeavored to incorporate
                            extensive customization options throughout our application to
                            enhance
                            user comfort and provide a more tailored and enjoyable experience.</p>
                    </div>
                </div>
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="zoom-in" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined fifth-cs1">ios_share</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Upload and share</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Take advantage of our app's
                            convenient features to effortlessly host and manage your images
                            online,
                            all without any charge.</p>
                    </div>
                </div>
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="fade-left" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined fifth-cs2">chat</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Make new friends</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Engage in meeting and chatting
                            with new users, fostering connections and conversations to
                            expand your
                            social circle and enrich your online experience.</p>
                    </div>
                </div>
            </div>

            <div class="fifth-boxes">
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="fade-right" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined fifth-cs3">file_download_done</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Friendly algorithm</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Our algorithm is designed to be
                            user-friendly, facilitating easy growth of your account by
                            providing
                            tailored recommendations and opportunities for increased visibility.</p>
                    </div>
                </div>
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="zoom-in" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined fifth-cs4">smartphone</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Mobile app</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Users have the convenience of
                            downloading our app directly to their phone, enabling seamless
                            access
                            to its features and functionalities anytime, anywhere.</p>
                    </div>
                </div>
                <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="fifth-box"
                    data-aos="fade-left" data-aos-duration="1000">
                    <div class="fifth-box-el">
                        <mat-icon class="material-symbols-outlined">lock</mat-icon>
                        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Strong security</h2>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Our robust security measures
                            ensure the protection of your data and privacy, offering peace
                            of mind
                            as you navigate through our platform.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="create-box" data-aos="fade-right" data-aos-duration="1200">
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''" class="the-create-box">
                <div class="create-box-sign-up" [style.backgroundColor]="settingsService.isDarkTheme ? 'black' : ''"
                    [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    (click)="sessionService.session ? router.navigate(['/upload']) : loginService.enableLogin(); scrollTo(0,0)">
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        class="material-symbols-outlined custom55">
                        upload_file
                    </mat-icon>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Upload</p>
                </div>

                <div>
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Easily share your artistic creations
                        with the world!</h2>
                    <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Share your art to our platform.</p>
                </div>
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="material-symbols-outlined">
                    upload
                </mat-icon>
            </div>
        </div>

        <div class="fourth" data-aos="fade-down" data-aos-duration="1200">
            <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Meet all your marketing needs</h2>
            <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">If you're looking for additional features and
                capabilities, consider registering for a business account
                to unlock
                enhanced tools tailored to meet your professional needs.</p>

            <div class="bus-btn" [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="errorSuccessService.setError('Not available at the moment');
                errorSuccessService.enableErrorTime(2100)">
                <mat-icon class="material-symbols-outlined">work</mat-icon>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Business</p>
            </div>
        </div>


        <div class="faq" data-aos="fade-down" data-aos-duration="1200">
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                (click)="isFaq === 1 ? isFaq = 0 : isFaq = 1"
                [className]="isFaq === 1 ? 'faq-box expand-faq': 'faq-box'">
                <div class="faq-el">
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Are pornography posts permitted on
                        the platform?</h2>
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        [className]="isFaq === 1 ? 'material-symbols-outlined rotate-icon' : 'material-symbols-outlined'">arrow_right</mat-icon>
                </div>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">No, they are not, posting pornography will
                    result in the suspension of your account.</p>
            </div>
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                (click)="isFaq === 2 ? isFaq = 0 : isFaq = 2"
                [className]="isFaq === 2 ? 'faq-box expand-faq': 'faq-box'">
                <div class="faq-el">
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Is there a daily limit on the number
                        of uploads permitted?</h2>
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        [className]="isFaq === 2 ? 'material-symbols-outlined rotate-icon' : 'material-symbols-outlined'">arrow_right</mat-icon>
                </div>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">There is no specific limit, however,
                    posting excessively or spamming will result in a timed-out
                    status.</p>
            </div>
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                (click)="isFaq === 3 ? isFaq = 0 : isFaq = 3"
                [className]="isFaq === 3 ? 'faq-box expand-faq': 'faq-box'">
                <div class="faq-el">
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">What is the minimum age requirement
                        to use the platform?</h2>
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        [className]="isFaq === 3 ? 'material-symbols-outlined rotate-icon' : 'material-symbols-outlined'">arrow_right</mat-icon>
                </div>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">The minimum age requirement for platform
                    usage is 13 years old.</p>
            </div>
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                (click)="isFaq === 4 ? isFaq = 0 : isFaq = 4"
                [className]="isFaq === 4 ? 'faq-box expand-faq': 'faq-box'">
                <div class="faq-el">
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Is it permissible to post copyrighted
                        content on the platform?</h2>
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        [className]="isFaq === 4 ? 'material-symbols-outlined rotate-icon' : 'material-symbols-outlined'">arrow_right</mat-icon>
                </div>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">If the owner grants permission, posting
                    copyrighted content is allowed.</p>
            </div>
            <div [style.backgroundColor]="settingsService.isDarkTheme ? '#0e1111' : ''"
                (click)="isFaq === 5 ? isFaq = 0 : isFaq = 5"
                [className]="isFaq === 5 ? 'faq-box expand-faq': 'faq-box'">
                <div class="faq-el">
                    <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Does this platform operate on a
                        'pay-to-win' model?</h2>
                    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                        [className]="isFaq === 5 ? 'material-symbols-outlined rotate-icon' : 'material-symbols-outlined'">arrow_right</mat-icon>
                </div>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">No, this platform does not operate on a
                    'pay-to-win' model.</p>
            </div>
        </div>
    </div>
</ng-container>