
<app-mini-loading *ngIf="(loaderService.loaded$ | async) !== 0 && (loaderService.miniLoaded$ | async) === 0"></app-mini-loading>

<div class="categories">
    <div (click)="discoverService.getCategoriePosts(categorie.title); 
    discoverService.theCategorie = categorie.title" *ngFor="let categorie of categories" class="categorie">
        <p [style.color]="discoverService.theCategorie === categorie.title ? 'red' : ''">{{categorie.title}}</p>
    </div>


</div>


<div class="posts">
    <ng-container *ngIf="discoverService.theCategorie === ''">
        <div [routerLink]="'/posts/' + post.id" *ngFor="let post of discoverService.allPosts" class="post">
            <img [src]="globalVars.postsUrl + post.image">
        </div>
    </ng-container>

    <ng-container *ngIf="discoverService.theCategorie !== ''">
        <div [routerLink]="'/posts/' + post.id" *ngFor="let post of discoverService.categoriePosts" class="post">
            <img [src]="globalVars.postsUrl + post.image">
        </div>
    </ng-container>

    <ng-container *ngIf="discoverService.theCategorie !== '' && discoverService.categoriePosts.length < 1">
        <div class="not-found">
            <p>No posts found.</p>
        </div>
    </ng-container>
</div>