<div class="categories">
    <div class="categorie">
        <p>Cars</p>
    </div>
    <div class="categorie">
        <p>Anime</p>
    </div>
    <div class="categorie">
        <p>Games</p>
    </div>
    <div class="categorie">
        <p>Cartoons</p>
    </div>
    <div class="categorie">
        <p>Space</p>
    </div>
    <div class="categorie">
        <p>Sports</p>
    </div>
    <div class="categorie">
        <p>Movies</p>
    </div>
    <div class="categorie">
        <p>Nature</p>
    </div>
    <div class="categorie">
        <p>Celebrities</p>
    </div>
    <div class="categorie">
        <p>Holidays</p>
    </div>
    <div class="categorie">
        <p>AI</p>
    </div>
    <div class="categorie">
        <p>Superheroes</p>
    </div>

    <div class="categorie">
        <p>Other</p>
    </div>

</div>


<div class="posts">
    <div [routerLink]="'/posts/' + post.id" *ngFor="let post of discoverService.allPosts" class="post">
        <img [src]="globalVars.postsUrl + post.image">
    </div>
</div>