<app-edit-profile *ngIf="editProfileService.isEdit"></app-edit-profile>
<app-user-profile-info [info]="profileUserInfoService.info"
    *ngIf="profileUserInfoService.isProfile"></app-user-profile-info>

<app-mini-loading *ngIf="(loadingService.loaded$ | async)  !== 0 && (loadingService.miniLoaded$ | async) === 4"></app-mini-loading>
<div class="profile">
    <div class="theprofile">
        <img *ngIf="userInfoService.userData.profile_photo !== undefined" class="profile-logo" [src]="userInfoService.userData.profile_photo">

        <img *ngIf="userInfoService.userData.profile_photo === undefined" class="profile-logo" src='assets/images/un_image.jpg'>
        <div class="profilebox">
            <h2>{{ userInfoService.userData && userInfoService.userData.prqkor }}</h2>
        </div>


        <div *ngIf="userInfoService.userData && userInfoService.userData.name" class="profilebox">
            <p>{{ userInfoService.userData && userInfoService.userData.name }}</p>
        </div>

        <div class="profilebox">
            <div class="theinfo">
                <p
                    (click)="loaderService.resetMini(0);profileUserInfoService.setEnable(); profileUserInfoService.info = 'following'; profileUserInfoService.getFollowing();">
                    <span class="bold">{{ userInfoService.userData && userInfoService.userData.following }}</span> <span
                        class="info">Following</span></p>
            </div>
            <div class="theinfo">
                <p
                    (click)="loaderService.resetMini(0);profileUserInfoService.setEnable(); profileUserInfoService.info = 'followers';  profileUserInfoService.getFollowers();">
                    <span class="bold">{{ userInfoService.userData && userInfoService.userData.followers }}</span> <span
                        class="info">Followers</span></p>
            </div>
            <div class="theinfo">
                <p
                    (click)="loaderService.resetMini(0);profileUserInfoService.setEnable(); profileUserInfoService.info = 'friends'">
                    <span class="bold">{{ userInfoService.userData && userInfoService.userData.friends }}</span> <span
                        class="info">Friends</span></p>
            </div>
        </div>

        <div *ngIf="userInfoService.userData && userInfoService.userData.bio" class="profilebox">
            <p class="bio">{{ userInfoService.userData && userInfoService.userData.bio }}</p>
        </div>

        <div *ngIf="userInfoService.userData && !userInfoService.userData.bio" class="profilebox">
            <p>No bio provided.</p>
        </div>

        <div class="profilebox">
            <button
                (click)="editProfileService.enableEdit(); blankService.enableBlank(); navBarService.disableAll();">Edit
                Profile</button>
        </div>
    </div>

</div>