<app-edit-profile *ngIf="(editProfileService.edit$ | async) === true"></app-edit-profile>
<app-user-profile-info [info]="profileUserInfoService.info"
    *ngIf="(profileUserInfoService.profile$ | async) === true"></app-user-profile-info>



<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions" [particlesInit]="particlesInit"
    (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<app-mini-loading
    *ngIf="(loadingService.loaded$ | async)  !== 0 && (loadingService.miniLoaded$ | async) === 4"></app-mini-loading>
<div class="profile" *ngIf="(loadingService.loaded$ | async)  !== 0 && (loadingService.miniLoaded$ | async) !== 4">
    <div class="theprofile">

        <div class="basic-info">
           <img  alt="post"  *ngIf="userInfoService.userData.profile_photo !== undefined" class="profile-logo"
                [src]="globalVars.compressedPhotosUrl + userInfoService.userData.profile_photo">

           <img  alt="post"  *ngIf="userInfoService.userData.profile_photo === undefined" class="profile-logo"
                src='assets/images/un_image.jpg'>

            <div class="user-names">
                <h2>{{userInfoService.userData.prqkor}}</h2>
                <p>{{userInfoService.userData.name}}</p>
                <div (click)="editProfileService.enableEdit();" class="edit-btn">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <p>Edit profile</p>
                </div>
            </div>
        </div>

        <div class="follow-info">
            <div class="foll-box"
                (click)="profileUserInfoService.getFollowing(); profileUserInfoService.setEnable(); profileUserInfoService.info = 'following'">
                <p class="bold">{{userInfoService.userData.following}}</p>
                <p>Following</p>
            </div>
            <div class="foll-box"
                (click)="profileUserInfoService.getFollowers(); profileUserInfoService.setEnable(); profileUserInfoService.info = 'followers'">
                <p class="bold">{{userInfoService.userData.followers}}</p>
                <p>Followers</p>
            </div>
            <div class="foll-box" (click)="profileUserInfoService.setEnable(); profileUserInfoService.info = 'friends'">
                <p class="bold">0</p>
                <p>Friends</p>
            </div>
        </div>

        <div class="bio">
            <p>{{userInfoService.userData.bio === '' ? 'No bio provided.' : userInfoService.userData.bio}}</p>
        </div>



        <div class="posts">
            <div class="the-posts">
                <div *ngIf="getPostsService.posts.length < 1" class="no-posts">
                    <p>You don't have any posts.</p>
                    <div (click)="router.navigate(['/upload'])" class="upload-btn">
                        <mat-icon class="material-symbols-outlined">upload</mat-icon>
                        <p>Upload</p>
                    </div>
                </div>
                <div *ngFor="let post of getPostsService.posts" class="post-box" (click)="router.navigate(['/posts/' + post.id] )">
                  <img  alt="post"   alt="post"  [src]="globalVars.compressedPostsUrl + post.image">
                </div>
            </div>
        </div>

    </div>





</div>