<app-edit-chat *ngIf="chatService.isEditChat"></app-edit-chat>



<div class="chat">

    <img class="background" [src]="chatService.currentBackground">

    <div class="side">
        <div class="search">
            <mat-icon class="material-symbols-outlined">search</mat-icon>
            <input #user (input)="chatService.searchUsers(user.value)" spellcheck="false" autocomplete="off"
                placeholder="Search for users">
        </div>



        <div *ngIf="user.value !== ''" class="the-following">
            <ng-container *ngFor="let profile of chatService.theSearchedUsers">
                <div class="the-following-box"
                    [classList]='(this.loopService.selectedUser$ | async) === profile.prqkor ? "the-following-box customback" : "the-following-box" '
                    (click)="chatService.isCurrentRequest= true; loopService.getChat(profile.prqkor); this.loopService.selectedUser.next(profile.prqkor);
                     theCurrentProfilePhoto = profile.profile_photo;  ">
                    <img *ngIf="profile.profile_photo !== ''" [src]="globalVars.photosUrl + profile.profile_photo">
                    <img *ngIf="profile.profile_photo === ''" src="assets/images/un_image.jpg">
                    <div class="chat-info">
                        <p class="following-username">{{profile.prqkor}}</p>
                    </div>
                </div>
            </ng-container>

        </div>













        <div class="people-follow" *ngIf="user.value === ''">
            <p class="follow-people-text">People you follow</p>
            <mat-icon (click)=" chatService.isFollowing = true" *ngIf="chatService.isFollowing === false"
                class="material-symbols-outlined">add_circle</mat-icon>
            <mat-icon (click)="chatService.isFollowing = false" *ngIf="chatService.isFollowing === true"
                class="material-symbols-outlined">remove_circle</mat-icon>
            <div class="following">
                <p>{{chatService.followingUsers.length > 0 ? chatService.followingUsers.length : '0'}}</p>
            </div>
        </div>


        <div *ngIf="chatService.isFollowing === true && chatService.followingUsers.length > 0 && user.value === ''"
            class="the-following">
            <ng-container *ngFor="let profile of chatService.followingUsers">
                <div class="the-following-box"
                    [classList]='(this.loopService.selectedUser$ | async) === profile.prqkor ? "the-following-box customback" : "the-following-box" '
                    (click)="chatService.isCurrentRequest = false;loopService.getChat(profile.prqkor); this.loopService.selectedUser.next(profile.prqkor); theCurrentProfilePhoto = profile.profile_photo;">
                    <img *ngIf="profile.profile_photo !== ''" [src]="globalVars.photosUrl + profile.profile_photo">
                    <img *ngIf="profile.profile_photo === ''" src="assets/images/un_image.jpg">
                    <div class="chat-info">
                        <p class="following-username">{{profile.prqkor}}</p>
                        <div class="last-text">
                            <p class="last-text">{{profile.last_message}}</p>
                        </div>
                    </div>
                    <p class="date">{{profile.message_time}}</p>
                </div>
            </ng-container>

        </div>

        <div class="people-follow" *ngIf="user.value === ''">
            <p class="follow-people-text">Requests</p>
            <mat-icon (click)="chatService.isRequests = true" *ngIf="chatService.isRequests === false"
                class="material-symbols-outlined">add_circle</mat-icon>
            <mat-icon (click)="chatService.isRequests= false" *ngIf="chatService.isRequests === true"
                class="material-symbols-outlined">remove_circle</mat-icon>
            <div class="following">
                <p>{{chatService.requestUsers.length}}</p>
            </div>
        </div>

        <div *ngIf="chatService.isRequests === true && user.value === ''" class="the-following">
            <ng-container *ngFor="let profile of chatService.requestUsers">
                <div class="the-following-box"
                    (click)="chatService.isCurrentRequest= true; loopService.getChat(profile.prqkor); this.loopService.selectedUser.next(profile.prqkor); theCurrentProfilePhoto = profile.profile_photo">
                    <img *ngIf="profile.profile_photo !== ''" [src]="globalVars.photosUrl + profile.profile_photo">
                    <img *ngIf="profile.profile_photo === ''" src="assets/images/un_image.jpg">
                    <div class="chat-info">
                        <p class="following-username">{{profile.prqkor}}</p>
                        <div class="last-text">
                            <p class="last-text">{{profile.message}}</p>
                        </div>
                    </div>
                    <p class="date">{{profile.timestamp}}</p>
                </div>
            </ng-container>

        </div>


    </div>

    <div class="main">
        <div class="top">
            <div class="top-main">
                <h2>Chance Chat Box</h2>
                <mat-icon (click)="chatService.toggleEdit()" class="material-symbols-outlined">settings</mat-icon>
            </div>

            <div class="auto-scroll">
               <p>Auto-Scroll</p>
               <mat-icon (click)="toggleAutoScroll()" [style]="autoScroll ? 'color: green !important' : 'color: red !important' " class="material-symbols-outlined">
               {{autoScroll ? 'toggle_on' : 'toggle_off'}}
            </mat-icon>
            </div>
        </div>
        <div class="middle" #middleContainer>
            <div class="chat-area">
                <div class="messagecontainer" *ngFor="let message of loopService.usersMessages">
                    <div [class]="userInfoService.userData.id !== message.sender_id ? 'message' : 'message message2'">
                        <img class="profile-image" *ngIf="userInfoService.userData.id === message.sender_id" [src]="userInfoService.userData.profile_photo !== undefined ? userInfoService.userData.profile_photo : 
                       '/assets/images/un_image.jpg' ">
                        <img class="profile-image" *ngIf="userInfoService.userData.id !== message.sender_id" [src]="theCurrentProfilePhoto !== '' ?  globalVars.photosUrl + theCurrentProfilePhoto : 
                       '/assets/images/un_image.jpg'">
                        <p>{{message.message}}</p>
                        <p class="message-date">{{message.timestamp}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom" *ngIf="(loopService.selectedUser$ | async) !== ''">
            <textarea #message (keydown.enter)="sendMessage(); false" placeholder="Type a message here..."></textarea>
            <div class="helpers">
                <mat-icon class="material-symbols-outlined">sentiment_satisfied</mat-icon>
                <mat-icon class="material-symbols-outlined">upload_file</mat-icon>
                <mat-icon class="send-icon" (click)="sendMessage()">send</mat-icon>
            </div>

        </div>
    </div>

    <div class="last">
        <div class="profile-info" *ngIf="(loopService.selectedUser$ | async) !== ''">
            <img *ngIf="theCurrentProfilePhoto !== ''" [src]="globalVars.photosUrl + theCurrentProfilePhoto">
            <img *ngIf="theCurrentProfilePhoto === ''" src="assets/images/un_image.jpg">
            <p>{{'@'}}{{theCurrentUser}}</p>
            <div class="profile-action">
                <mat-icon (click)="router.navigate(['/profiles/' + theCurrentUser])">visibility</mat-icon>
                <mat-icon *ngIf="!chatService.isCurrentRequest" (click)="profilesService.unfollowUser(theCurrentUser)"
                    class="person-remove">person_remove</mat-icon>
                <mat-icon *ngIf="chatService.isCurrentRequest" (click)="profilesService.followUser(theCurrentUser); "
                    class="person-remove add">person_add</mat-icon>
            </div>
        </div>

        <div class="ad" *ngIf="(loopService.selectedUser$ | async) === ''">
            <h2>Start discovering Chance !</h2>
            <div class="ad-icons">
                <mat-icon (click)="router.navigate(['/'])" class="material-symbols-outlined">home</mat-icon>
                <mat-icon class="material-symbols-outlined">smart_display</mat-icon>
                <mat-icon class="material-symbols-outlined">cloud_upload</mat-icon>
            </div>
        </div>

        <div class="shared-files" *ngIf="(loopService.selectedUser$ | async) !== ''">
            <div class="shared-text">
                <p>Shared Files (0)</p>
                <mat-icon>expand_more</mat-icon>
            </div>
        </div>
    </div>
</div>