<div class="chat">

    <img class="background" src="https://wallpapercave.com/wp/wp13467408.jpg">

    <div class="side">
        <div class="search">
            <mat-icon class="material-symbols-outlined">search</mat-icon>
            <input spellcheck="false" autocomplete="off" placeholder="Search for users">
        </div>

        <div class="people-follow">
            <p class="follow-people-text">People you follow</p>
            <mat-icon (click)="isFollowing = true" *ngIf="isFollowing === false"
                class="material-symbols-outlined">add_circle</mat-icon>
            <mat-icon (click)="isFollowing = false" *ngIf="isFollowing === true"
                class="material-symbols-outlined">remove_circle</mat-icon>
            <div class="following">
                <p>{{chatService.followingUsers.length}}</p>
            </div>
        </div>

        <div *ngIf="isFollowing === true" class="the-following">
            <ng-container *ngFor="let profile of chatService.followingUsers">
                <div class="the-following-box">
                    <img src="assets/images/un_image.jpg">
                    <div class="chat-info">
                        <p class="following-username">{{profile.prqkor}}</p>
                        <div class="last-text">
                            <p class="last-text">{{profile.message}}</p>
                        </div>
                    </div>
                    <p class="date">{{profile.timestamp}}</p>
                </div>
            </ng-container>

        </div>

        <div class="people-follow">
            <p class="follow-people-text">Requests</p>
            <mat-icon (click)="isRequests = true" *ngIf="isRequests === false"
                class="material-symbols-outlined">add_circle</mat-icon>
            <mat-icon (click)="isRequests = false" *ngIf="isRequests === true"
                class="material-symbols-outlined">remove_circle</mat-icon>
            <div class="following">
                <p>{{chatService.requestUsers.length}}</p>
            </div>
        </div>

        <div *ngIf="isRequests === true" class="the-following">
            <ng-container *ngFor="let profile of chatService.requestUsers">
                <div class="the-following-box">
                    <img src="assets/images/un_image.jpg">
                    <div class="chat-info">
                        <p class="following-username">{{profile.prqkor}}</p>
                        <div class="last-text">
                            <p class="last-text">{{profile.message}}</p>
                        </div>
                    </div>
                    <p class="date">{{profile.timestamp}}</p>
                </div>
            </ng-container>

        </div>


    </div>

    <div class="main">
        <div class="top">
            <h2>Chance Chat Box</h2>
            <mat-icon class="material-symbols-outlined">settings</mat-icon>
        </div>
        <div class="middle"></div>
        <div class="bottom">
            <textarea placeholder="Type a message here..."></textarea>
            <div class="helpers">
                <mat-icon class="material-symbols-outlined">sentiment_satisfied</mat-icon>
                <mat-icon class="material-symbols-outlined">upload_file</mat-icon>
                <mat-icon class="send-icon">send</mat-icon>
            </div>
        </div>
    </div>

    <div class="last">
        <div class="profile-info">
            <img src="assets/images/un_image.jpg">
            <h2>{{'@'}}Charon</h2>
            <p>Testov</p>
            <div class="profile-action">
                <mat-icon>visibility</mat-icon>
                <mat-icon class="person-remove">person_remove</mat-icon>
            </div>
        </div>

        <div class="shared-files">
            <div class="shared-text">
                <p>Shared Files (0)</p>
                <mat-icon>expand_more</mat-icon>
            </div>
        </div>
    </div>
</div>