$animation-duration: 0.5s;


.sign-in-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 0.3em;
    transition: all $animation-duration ease;
    cursor: pointer;
}

.sign-in-box:hover {
    transform: scale(1.1);
}

.sign-in-box img {
    width: 25px;
}

.sign-in-box .custom-img {
    width: 20px;
}
