<nav class="navbar" data-aos="fade-down" data-aos-duration="1000">
    <div class="nav-elements">
        <div class="logo">
            <h2>Chance</h2>
        </div>

        <div class="search">
            <div class="the-search">
                <mat-icon class="search-icon">search</mat-icon>
                <input autocomplete="off" spellcheck="false" type="text" placeholder="Search...">
            </div>
        </div>

        <div class="hrefs">
            <ul class="the-hrefs">
                <a routerLink="/" (click)="errorSuccessService.disableBoth(); navBarService.disableAll();">Home</a>
                <a (click)="errorSuccessService.disableBoth();  navBarService.disableAll();">Discover</a>
                <a (click)="errorSuccessService.disableBoth();  navBarService.disableAll();">Business</a>
            </ul>
        </div>

        <div class="btns" *ngIf="!sessionService.session">
            <button (click)="errorSuccessService.disableBoth(); loginService.setLogin()">Login</button>
        </div>

        <div class="icons" *ngIf="sessionService.session">
            <div class="uploadbtn" (click)=" router.navigate(['/upload']); navBarService.disableAll();">
                <mat-icon>add</mat-icon>
                <p>Upload</p>
            </div>
            <mat-icon (click)="router.navigate(['/chat'])" fontSet="material-symbols-outlined">send</mat-icon>

            <div (click)="navBarService.toggleNotification()" *ngIf="loopService.theNotifications > 0" class="notification-number">
                <p>{{loopService.theNotifications}}</p>
            </div>
            <mat-icon (click)="navBarService.toggleNotification()"
                fontSet="material-symbols-outlined">notifications</mat-icon>


            <mat-icon (click)="navBarService.toggleProfile()" fontSet="material-symbols-outlined">person</mat-icon>


        </div>
    </div>

    <app-notification-box></app-notification-box>
    <app-profile-box></app-profile-box>
</nav>