<div data-aos="fade-right" data-aos-duration="600" class="mobile-nav"   [style.background]="settingsService.isDarkTheme ? 'black' : ''"
    *ngIf="(mobileService.isMenuToggled$ | async) === true ">
    <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="mobileService.disableMenu()" class="material-symbols-outlined close-mobile">close</mat-icon>
    <div class="mobile-top">
        <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''">Chance</h2>
        <div class="the-search2">
            <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="search-icon">search</mat-icon>
            <input  [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" #searchvalue (input)="getSearchValue(searchvalue.value); navBarService.searchAll(searchvalue.value)"
                (focus)="checkInputOn()" (blur)="checkInputOff();" (keydown.enter)="navBarService.isSearch = true; navBarService.isAccountSearch = false; discoverService.isPosts = true; 
                navBarService.accountString = searchvalue.value; searchExpand = false; navBarService.searchString = searchvalue.value; mobileService.disableMenu(); 
                discoverService.getSearchedPosts(searchvalue.value);" autocomplete="off" spellcheck="false" type="text"
                placeholder="Search...">
            <div  [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  class="where-search" *ngIf="searchExpand && currentSearch !== ''">
                <div class="search-data">

                    <ng-container *ngIf="navBarService.searchData.length < 1">
                        <div class="search-box no-results">
                            <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">No search results were found.</p>
                        </div>
                    </ng-container>

                    <div (click)="navBarService.isSearch = true; discoverService.isPosts = true; navBarService.searchString = search.caption; 
                        discoverService.getSearchedPosts(searchvalue.value);  mobileService.disableMenu();"
                        *ngFor="let search of navBarService.searchData" class="search-box">
                        <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" *ngIf="(mobileService.isMenuToggled$ | async) === false"
                            class="material-symbols-outlined">search</mat-icon>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" [style.marginLeft]="(mobileService.isMenuToggled$ | async) === true ? '2em' : ''">
                            {{search.caption}}</p>
                    </div>

                    <div class="search-box"
                        (click)="navBarService.isSearch = true; navBarService.isAccountSearch = false; discoverService.isPosts = true; 
                            navBarService.searchString = searchvalue.value; discoverService.getSearchedPosts(searchvalue.value);  mobileService.disableMenu();">
                        <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" *ngIf="(mobileService.isMenuToggled$ | async) === false"
                            class="material-symbols-outlined">search</mat-icon>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" [style.marginLeft]="(mobileService.isMenuToggled$ | async) === true ? '2em' : ''"
                            style="font-weight: 500;">Search in posts</p>
                    </div>

                    <div class="search-box"
                        (click)="navBarService.isAccountSearch = true; navBarService.isSearch = false;  mobileService.disableMenu();  navBarService.accountString = searchvalue.value;; discoverService.getSearchedProfiles(searchvalue.value);">
                        <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" *ngIf="(mobileService.isMenuToggled$ | async) === false"
                            class="material-symbols-outlined">search</mat-icon>
                        <p [style.color]="settingsService.isDarkTheme ? 'white' : ''" [style.marginLeft]="(mobileService.isMenuToggled$ | async) === true ? '2em' : ''"
                            style="font-weight: 500;">Search in accounts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="mobile-el">
        <div class="mobile-href-box" [style.borderBottom]="settingsService.isDarkTheme ? '1px solid white' : ''">
            <a  [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/"
                (click)="errorSuccessService.disableBoth(); navBarService.disableAll();  mobileService.disableMenu();">Home</a>
        </div>
        <div class="mobile-href-box"  [style.borderBottom]="settingsService.isDarkTheme ? '1px solid white' : ''">
            <a [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/discover"
                (click)="errorSuccessService.disableBoth();  navBarService.disableAll();  mobileService.disableMenu();">Discover</a>
        </div>
        <div class="mobile-href-box"  [style.borderBottom]="settingsService.isDarkTheme ? '1px solid white' : ''">
            <a  routerLink="/support" [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                (click)="errorSuccessService.disableBoth();  navBarService.disableAll();  mobileService.disableMenu();">Support</a>
        </div>
        <div class="mobile-btns">
            <button   [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" *ngIf="sessionService.session === false" class="mobile-sign-up" routerLink="/account"
                (click)="errorSuccessService.disableBoth(); mobileService.disableMenu();">Sign
                Up</button>
            <button   [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" *ngIf="sessionService.session === false"
                (click)="errorSuccessService.disableBoth(); loginService.setLogin();  mobileService.disableMenu();">Sign
                In</button>
            <button   [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/chat" *ngIf="sessionService.session"
                (click)="mobileService.disableMenu();">Chat</button>
            <button   [style.background]="settingsService.isDarkTheme ? '#0e1111 !important' : ''"  [style.color]="settingsService.isDarkTheme ? 'white !important' : ''" routerLink="/upload" *ngIf="sessionService.session" class="mobile-sign-up"
                (click)="mobileService.disableMenu();">Upload</button>

        </div>

        <div class="mobile-icons">
            <img (click)="locateTo('https://www.instagram.com/dn8.sw')" src="assets/icons/instagram.png">
            <img (click)="locateTo('https://discord.gg/cNxbKfMsfr')" src="assets/icons/discord.png">
            <img src="assets/icons/github2.png">
        </div>
    </div>
</div>



<nav class="navbar" [style.boxShadow]="settingsService.isDarkTheme ? '0px 5px 5px -5px rgb(255, 255, 255)' : ''"
    [style.backgroundColor]="settingsService.isDarkTheme ? 'black' : 'white'">
    <div class="nav-elements">
        <div class="logo">
            <h2 [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/">Chance</h2>
        </div>

        <div class="search">
            <div class="the-search">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="search-icon">search</mat-icon>
                <input #searchvalue  [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''" [style.color]="settingsService.isDarkTheme ? 'white' : ''"
                    (input)="getSearchValue(searchvalue.value); navBarService.searchAll(searchvalue.value)"
                    (focus)="checkInputOn()" (blur)="checkInputOff();" (keydown.enter)="navBarService.isSearch = true; navBarService.isAccountSearch = false; discoverService.isPosts = true; 
                    navBarService.accountString = searchvalue.value; searchExpand = false; navBarService.searchString = searchvalue.value; 
                    discoverService.getSearchedPosts(searchvalue.value);" autocomplete="off" spellcheck="false"
                    type="text" placeholder="Search...">

                <div  [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''"  class="where-search" *ngIf="searchExpand && currentSearch !== ''">
                    <div class="search-data">

                        <ng-container *ngIf="navBarService.searchData.length < 1">
                            <div class="search-box no-results">
                                <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''" >No search results were found.</p>
                            </div>
                        </ng-container>

                        <div (click)="navBarService.isSearch = true; discoverService.isPosts = true; navBarService.searchString = search.caption; 
                        discoverService.getSearchedPosts(searchvalue.value);"
                            *ngFor="let search of navBarService.searchData" class="search-box">
                            <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''"  class="material-symbols-outlined">search</mat-icon>
                            <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''" >{{search.caption}}</p>
                        </div>

                        <div class="search-box"
                            (click)="navBarService.isSearch = true; navBarService.isAccountSearch = false; discoverService.isPosts = true; 
                            navBarService.searchString = searchvalue.value; discoverService.getSearchedPosts(searchvalue.value);">
                            <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''"  class="material-symbols-outlined">search</mat-icon>
                            <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''"  style="font-weight: 500;">Search in posts</p>
                        </div>

                        <div class="search-box"
                            (click)="navBarService.isAccountSearch = true; navBarService.isSearch = false;  navBarService.accountString = searchvalue.value;; discoverService.getSearchedProfiles(searchvalue.value);">
                            <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''"  class="material-symbols-outlined">search</mat-icon>
                            <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''"  style="font-weight: 500;">Search in accounts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hrefs">
            <ul class="the-hrefs">
                <a [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/" (click)="errorSuccessService.disableBoth(); navBarService.disableAll();">Home</a>
                <a [style.color]="settingsService.isDarkTheme ? 'white' : ''" routerLink="/discover"
                    (click)="errorSuccessService.disableBoth();  navBarService.disableAll();">Discover</a>
                <a routerLink="/support" [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="errorSuccessService.disableBoth();  navBarService.disableAll();">Support</a>
            </ul>
        </div>

        <div class="btns" *ngIf="!sessionService.session">
            <button   [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''" (click)="errorSuccessService.disableBoth(); loginService.setLogin()">Login</button>
        </div>



        <div class="mobile" [className]="sessionService.session  ? 'mobile other-margin' : 'mobile'">
            <mat-icon  [style.color]="settingsService.isDarkTheme ? 'white' : ''" (click)="mobileService.toggleMenu(); scrollTop()"
                class="material-symbols-outlined">menu</mat-icon>
        </div>



        <div class="icons" *ngIf="sessionService.session">
            <div class="uploadbtn" [style.border]="settingsService.isDarkTheme ? '1px solid white' : ''"
                (click)=" router.navigate(['/upload']); errorSuccessService.disableBoth(); navBarService.disableAll();">
                <mat-icon [style.color]="settingsService.isDarkTheme ? 'white' : ''">add</mat-icon>
                <p [style.color]="settingsService.isDarkTheme ? 'white' : ''">Upload</p>
            </div>
            <mat-icon 
                (click)="router.navigate(['/chat']); errorSuccessService.disableBoth(); navBarService.disableAll();"
                fontSet="material-symbols-outlined" [style.color]="settingsService.isDarkTheme ? 'white' : ''">send</mat-icon>

            <div (click)="navBarService.toggleNotification()"
                *ngIf="loopService.theNotifications > 0 && settingsService.isNotifications" class="notification-number">
                <p>{{loopService.theNotifications < 10 ? loopService.theNotifications : '9+' }}</p>
            </div>
            <mat-icon (click)="errorSuccessService.disableBoth(); navBarService.toggleNotification()"
                fontSet="material-symbols-outlined"  [style.color]="settingsService.isDarkTheme ? 'white' : ''">notifications</mat-icon>


            <mat-icon (click)="errorSuccessService.disableBoth(); navBarService.toggleProfile()"
                fontSet="material-symbols-outlined" [style.color]="settingsService.isDarkTheme ? 'white' : ''">person</mat-icon>


        </div>
    </div>

    <app-notification-box></app-notification-box>
    <app-profile-box></app-profile-box>
</nav>