.navbar {
    position: relative;
    z-index: 6;
    width: 100%;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
}

.nav-elements {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 4em;
}

.logo h2 {
    cursor: pointer;
}

.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.the-search {
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
}

.search input {
    outline: none;
    border: none;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.5);
    height: 35px;
    width: 400px;
    background-color: rgb(245, 245, 245);
    padding-left: 3.5em;
    padding-right: 1em;
    border-radius: 0.3em;
}

.hrefs {
    margin-left: auto;
    margin-right: 2em;
}

.hrefs a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}

.the-hrefs {
    display: flex;
    gap: 1.5em;
}

.btns {
    margin-right: 3em;
}

.btns button {
    width: 130px;
    height: 35px;
    border-radius: 0.5em;
    color: white;
    border: none;
    background-color: rgb(243, 69, 69);
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    margin-right: 2em;
}

.icons mat-icon {
    position: relative;
    cursor: pointer;
    fill: none;
    user-select: none;
}


.icons .uploadbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.582);
    cursor: pointer;
}

.uploadbtn mat-icon {
    margin-right: 0.2em;
}

.notification-number {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    top: 14px;
    right: 70px;
    background-color: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
    user-select: none;
}