<ng-particles [id]="particlesConfig.id" [options]="particlesConfig.particlesOptions"
[particlesInit]="particlesInit" (particlesLoaded)="particlesLoaded($event)"></ng-particles>


<div class="account"  *ngIf="(loaderService.loaded$ | async) !== 0" (click)="navBarService.disableAll()"> 
    <div [style.background]="settingsService.isDarkTheme ? '#0e1111' : ''" class="the-account"  data-aos="fade-down" data-aos-duration="1000">
        <h2  [style.color]="settingsService.isDarkTheme ? 'white' : ''">Create Account</h2>

        <div class="create-methods">
            <app-box-method [isIcon]="true" [icon]="'facebook'"></app-box-method>
            <app-box-method [isIcon]="true" [icon]="'sports_esports'"></app-box-method>
            <app-box-method [isIcon]="true" [icon]="'mail_lock'"></app-box-method>
        </div>

        <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''">or use your email & password</p>

        <div class="create-inputs">
            <app-input-icon (getValue)="valueFromChild($event, 'username')" icon="person" type="text"
                placeholder="Username"></app-input-icon>
            <app-input-icon (getValue)="valueFromChild($event, 'email')" icon="mail" type="email"
                placeholder="Email"></app-input-icon>
            <app-input-icon (getValue)="valueFromChild($event, 'password')" icon="lock_person" type="password"
                placeholder="Password"></app-input-icon>
            <app-input-icon (getValue)="valueFromChild($event, 'confpassword')" icon="lock_person" type="password"
                placeholder="Confirm Your Password"></app-input-icon>
            <app-input-icon (getValue)="valueFromChild($event, 'date')" icon="calendar_month"
                type="date"></app-input-icon>
        </div>

        <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''" class="have-account" (click)="errorSuccessService.disableError(); loginService.enableLogin()">Already have an account?</p>

        <div class="sign-up-btn"  [style.background]="settingsService.isDarkTheme ? 'black' : ''"  [style.color]="settingsService.isDarkTheme ? 'white' : ''" 
        (click)="createAccountService.sendUserData()">
        <mat-icon class="material-symbols-outlined">
            verified_user
        </mat-icon>
        <p  [style.color]="settingsService.isDarkTheme ? 'white' : ''" >Sign Up</p>

        </div>
    </div>
</div>